@import "colors.css";

* {
    all: unset;
    font-family: "Nunito", "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

tooltip {
    background-color: @base-dark;
    border-radius: 1rem;
    color: @text-main;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @base-dark;
    padding: 2px 12px;
    border-radius: 16px;
}

.modules-right{
    padding: 8px 12px;
}

#workspaces {
    background-color: @surface-dark;
    margin: 4px 0;
    border-radius: 12px;
}

#workspaces button {
    color: @text-dim;
    padding: 0 8px;
    transition: all 0.3s cubic-bezier(.4,0,0,1.01);
    border-radius: 0.75rem;
}

#workspaces button.empty {
    color: @muted-violet;
}

#workspaces button.active {
    color: @highlight;
    background-color: @accent-violet;
    border-radius: 0.75rem;
    padding: 0 0.9rem;
    font-weight: bold;
    color: @text-main;
}

#workspaces button:hover {
    color: @text-main;
    background: rgba(141, 107, 148, 0.2);
}


#clock {
    color: @text-main;
}

#language,
#pulseaudio,
#network,
#battery,
#tray {
    color: @text-main;
}

#battery {
    background-color: @surface-dark;
    padding: 0 10px;
    border-radius: 1rem;
}

#battery.critical {
    color: @alert;
}

#battery.charging {
    color: #A6E3A1;
}

#tray {
    margin-left: 8px;
}